<section>
    <h2>Carga de Productos</h2>
     <form action="http://localhost:8080/products/form" enctype="multiplatform/form-data" method="POST">
        <input type="text" name="item">
        <input type="number" name="price">
        <input type="url" name="imgUrl">
        <input type="submit" value="Enviar datos">
    </form>
</section>    